/* Write your CSS code here */
* {
  box-sizing: border-box;
}
.topic-img {
  height: 150px;
  width: 250px;
  margin-left: 5px;
  padding: 5px;
}
.avatar-img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  align-self: center;
  margin-right: 5px;
}
.avatar-container {
  display: flex;
  flex-direction: row;
}
.blog-item-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 20px;
  padding: 5px;
  border: 0.1px solid #d3d3d3;
  border-radius: 5px;
}
.blog-details-text-container {
  margin: 8px;
  padding: 8px;
}
.title {
  font-family: 'Roboto';
  font-size: 15px;
  color: #000000;
}
.topic {
  font-family: 'Roboto';
  color: #8e8e8e;
}
.author {
  font-family: 'Roboto';
  color: #d3d3d3;
}
